.feedcon{
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    overflow-y: scroll;
}
.storyline{
    overflow-x: scroll;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 7px;
    height: auto;
    padding: 10px;
}
.storyline::-webkit-scrollbar {
    display: none;
  }
  /* Track */
  .storyline::-webkit-scrollbar-track {
    display: none;
  }
  
  /* Handle */
  .storyline::-webkit-scrollbar-thumb {
    display: none;
  }
.img{
    border-radius: 50%;
    border: 2px solid var(--themeBlue);
}
.names{
    color: white;
    font-weight: bold;
    font-size: .8em;
}
.story{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid var(--themeBlue);
    width: 100px;
    min-width: 90px;
    height: 180px;
    min-height: 150px;
    background-image: url(../assets/im5.jpg);
    background-size: cover;
}
.story:nth-child(2){
    background-image: url(../assets/im4.jpg);
}
.story:nth-child(3){
    background-image: url(../assets/im3.jpg);
}
.story:nth-child(4){
    background-image: url(../assets/im2.jpg);
}
.story:nth-child(5){
    background-image: url(../assets/im1.jpg);
}


.posts{
    width: 100%;
    margin: 20px 0;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.feedpost, .rts{
    width: 100%;
    padding-left: 70px;
}
.feedtext{
    padding: 0 0 5px 0;
    margin: 0;
    font-size: .9em;
}
.detcon{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.details{
    width: 100%;
    display: flex;
    gap: 10px;
}
.postdetail{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.bigletter{
    font-size: 1em;
    font-weight: bold;
}
.smallletter{
    font-size: .8em;
}
.thepost{
    border-radius: 5px;
    width: 100%;
    height: 350px;
    background-size: cover;
    background-image: url(../assets/im5.jpg);
}
.thepost1{
    border-radius: 5px;
    width: 100%;
    height: 350px;
    background-size: cover;
    background-image: url(../assets/im4.jpg);
}
.thepost2{
    border-radius: 5px;
    width: 100%;
    height: 350px;
    background-size: cover;
    background-image: url(../assets/im3.jpg);
}
.thepost3{
    border-radius: 5px;
    width: 100%;
    height: 350px;
    background-size: cover;
    background-image: url(../assets/im2.jpg);
}
.reactions{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--blue);
    border-bottom: 1px solid var(--blue);
    margin: 10px 0;
    padding: 10px 0;
    gap: 10px;
}
.reacts{
    border-radius: 5px;
    width: 100%;
    height: 25px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(50, 78, 102);
    cursor: pointer;
}
