.msgcon{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    background-color: var(--themeBlue);
    border-radius: 30px;
    padding: 10px;
    width: 100%;
    height: calc(100px + 65vh);
    gap: 2px;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--blue);
    border-radius: 40%;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 10px;
}
.img{
    border-radius: 50%;
    border: 4px solid var(--blue);
    cursor: pointer;
}
.useractive{
    position: relative;
}
.pbubble{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(31, 171, 10);
    border: 1px solid white;
}

@media only screen and (max-width:900px){
    .msgcon{ 
        display: none;
    }
}